.content {
	padding-top: 80px;
}

p {
	font-size: 20px;
}

.alert {
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

.alert {
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

.shadow {
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

.container-fluid {
	box-shadow: 0 0px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}

.navbar .navbar-collapse, .navbar .navbar-form {
	border-color: rgba(182,182,182,0.1);
}

a {
	outline-style: none !important;
}
